mixin intro
    section.intro
        .intro__container
            .intro__inner
                .intro__heading
                    h1.intro__title 12345
                ul.intro__list
                    li.intro__item Точно в срок.
                    li.intro__item Чистый код.
                    li.intro__item Без конструкторов.