.form__content {
    display: flex;
    flex-direction: column;
    margin-top: rem(10);
}

.form__field {
    display: flex;
    flex-direction: column;
    &:not(:first-child) {
        margin-top: rem(20);
    }
}

.form__label {
    font-size: rem(14);
}

.form__input {
    border-radius: rem(5);
    border: rem(1) solid $c_mgray;
    height: rem(30);
    margin-top: rem(5);
}

.form__input::placeholder {
    color: $c_mgray;
}

.form__button {
    margin-top: rem(20);
}