mixin formQuiz(id)
    form.form-quiz.hidden(id= id)
        .form-quiz__container
            .form-quiz__heading
                h2.form-quiz__title
            .form-quiz__content
                .form-quiz__field
                    label.form-quiz__label Имя
                    input.form-quiz__input(type="text" placeholder="Ваше имя")
                .form-quiz__field
                    label.form-quiz__label Номер телефона
                    input.form-quiz__input(type="text" placeholder="+7 (977) 777-77-77")
                .form-quiz__results
            .form-quiz__submit
                button(type="submit").form-quiz__button Отправить