include ./helpers/mixins

include ./../includes/components/header/header
include ./../includes/components/quiz/quiz
include ./../includes/components/modal/modal
include ./../includes/components/form/form

include ./../includes/blocks/intro/intro

doctype html
html(lang="en")
	+head('title')
	body
		+quiz
		block scripts
			script(src="./js/main.js")